<!doctype html>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <body>
    <h1>名前</h1><br>
    <input type="text" name="name" id="name" /><br>
    <h1>メールアドレス<h1><br>
    <input type="text" name="address" id="address" /><br>
    <h1>グループ名</h1><br>
    <input type="text" name="room" id="room" /><br>
    <button id="create">作成</button><br>
    <button id="btn">送信</button><br>
    </body>
